
<main style="background-image: url('../../../assets/img/cover.png'); background-size: 100% 100%;">
   <div class="container">
      <!-- ======= Header ======= -->
<section id="header" class="fixed-top">
   <div class="container d-flex align-items-center justify-content-lg-between">
     <h1 class="logo me-auto me-lg-0">
       <img src="./assets/img/apple-touch-icon.png" class="mx-2" alt="QATS logo" /><a
         href="index.html">QATS<span>.</span></a>
     </h1>
   </div>
  
 </section>
 <!-- End Header -->

 
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                  <div class="card mb-3">
                     <div class="card-body">
                        <div class="pt-4 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">
                              Change Password
                           </h5>
                        </div>
                        <form class="row g-3" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                           <div class="col-12">
                              <label for="yourPasscode" class="form-label">6 Digit Passcode</label>
                              <input type="passcode" formControlName="passcode" name="passcode" class="form-control" id="yourPasscode" required />
                           </div>
                           <div class="col-12">
                              <label for="yourPassword" class="form-label">New Password</label>
                              <input type="password" formControlName="password" name="password" class="form-control" id="yourPassword" required />
                           </div>
                           <div class="col-12">
                              <label for="yourConfrimPassword" class="form-label">Confirm New Password</label>
                              <input type="password" formControlName="confirmPassword" name="password" class="form-control" id="yourConfrimPassword" required />
                           </div>
                           <div class="col-12 py-2">
                              <button class="btn btn-primary w-100" type="submit">
                                 Set Password
                              </button>
                           </div>
                           <div class="col-12">
                              <p class="small text-end">
                                 <a routerLink="/pages-login">Back to Login in</a>
                              </p>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="credits">
                     <a href="https://www.quadrantresource.com/"><img src="../../../assets/img/QR_logo.png" alt="" width="146px"></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>