<main style="background-image: url('../../../assets/img/cover.png'); background-size: 100% 100%;">
  <div class="container">
    <!-- ======= Header ======= -->
    <section id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0">
          <img src="./assets/img/apple-touch-icon.png" class="mx-2" alt="QATS logo" /><a
            href="index.html">QATS<span>.</span></a>
        </h1>
      </div>
    </section>
    <!-- End Header -->

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Login to Your Account
                  </h5>
                </div>
                <form class="row g-3" [formGroup]="userLoginInForm" (ngSubmit)="signIn()">
                  <div class="col-12">
                    <label for="yourEmail" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <input type="text" formControlName="email" class="form-control" id="yourEmail" required />
                      <div class="invalid-feedback">
                        Please enter your email
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="yourPassword" required />
                    <div class="invalid-feedback">
                      Please enter your password
                    </div>
                  </div>
                  <div class="col-12 py-2">
                    <button class="btn btn-primary w-100" type="submit">
                      Login
                    </button>
                  </div>
                  <div class="col-12">
                    <p class="small text-end">
                      <a routerLink="/pages-forgotpassword">Forgot your password?</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
            <div class="credits">
              <a href="https://www.quadrantresource.com/"><img src="../../../assets/img/QR_logo.png" alt=""
                  width="146px" /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>