.newjobalertError{
    position: relative;
    padding: 1rem 1rem;
    /* margin-bottom: 1rem; */
    /* border: 1px solid transparent; */
    border-radius: 0.25rem;
}
.form-error-msg {
    font-size: .850rem;
    color: #dc3545;
}
.mandatory-fields{
    color: red;
}