<main id="main" class="main">
    <div class="pagetitle" style="display: flex; flex-direction: row; justify-content: space-between">
        <div>
            <h1>Users</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                </ol>
            </nav>
        </div>
        <div>
            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                data-bs-target="#verticalycentered" (click)="formReset()">
                Add User
            </button>
            <div class="modal fade" id="verticalycentered" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form [formGroup]="newUserForm" (ngSubmit)="submit()">
                            <div class="modal-header">
                                <h5 class="modal-title">Create New User </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputName5" class="form-label">Employee ID <span
                                                    class="mandatory-fields">*</span>
                                                <span *ngIf="f.emp_id.errors?.['required'] && f.emp_id.touched"
                                                    class="form-error-msg">&nbsp;&nbsp;Required</span>
                                            </label>
                                            <input type="text" class="form-control" id="inputName5" name="emp_id"
                                                formControlName="emp_id"
                                                [ngClass]="{'is-invalid':f.emp_id.errors && f.emp_id.touched}" />
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <label for="inputName5" class="form-label">Name <span
                                                        class="mandatory-fields">*</span>
                                                    <span *ngIf="f.name.errors?.['required'] && f.name.touched"
                                                        class="form-error-msg">&nbsp;&nbsp;Required</span>
                                                </label>
                                                <!-- <div *ngIf="f.fullName.errors?.['required'] && f.fullName.touched" class="invalid-feedback">
                                                <div *ngIf="f.fullName.errors">Required</div>
                                            </div> -->
                                                <input type="text" class="form-control" id="inputName5" name="name"
                                                    formControlName="name"
                                                    [ngClass]="{'is-invalid': f.name.errors && f.name.touched}" />
                                                <!-- <div *ngIf="f.fullName.errors?.['required'] && f.fullName.touched" class="invalid-feedback">
                                                <div *ngIf="f.fullName.errors">Required</div>
                                            </div> -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputName5" class="form-label">Email <span
                                                    class="mandatory-fields">*</span>
                                                <span *ngIf="f.email.errors?.['required'] && f.email.touched"
                                                    class="form-error-msg">&nbsp;&nbsp;Required</span>
                                            </label>
                                            <input type="text" class="form-control" id="inputName5" name="email"
                                                formControlName="email"
                                                [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputName5" class="form-label">Phone Number <span
                                                    class="mandatory-fields">*</span>
                                                <span *ngIf="f.phone.errors?.['required'] && f.phone.touched"
                                                    class="form-error-msg">&nbsp;&nbsp;Required</span>
                                            </label>
                                            <input type="text" class="form-control" id="inputName5" name="phone"
                                                formControlName="phone"
                                                [ngClass]="{'is-invalid':f.phone.errors && f.phone.touched}" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputName5" class="form-label">Department <span
                                                    class="mandatory-fields">*</span>
                                                <span *ngIf="f.department.errors?.['required'] && f.department.touched"
                                                    class="form-error-msg">&nbsp;&nbsp;Required</span>
                                            </label>
                                            <input type="text" class="form-control" id="inputName5" name="department"
                                                formControlName="department"
                                                [ngClass]="{'is-invalid':f.department.errors && f.department.touched}" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputName5" class="form-label">Designation <span
                                                    class="mandatory-fields">*</span>
                                                <span
                                                    *ngIf="f.designation.errors?.['required'] && f.designation.touched"
                                                    class="form-error-msg">&nbsp;&nbsp;Required</span>
                                            </label>
                                            <input type="text" class="form-control" id="inputName5" name="designation"
                                                formControlName="designation"
                                                [ngClass]="{'is-invalid':f.designation.errors && f.designation.touched}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"
                                style="display: flex;flex-direction: row;justify-content: space-between;">
                                <div>
                                    <span class="form-error-msg">{{errorMessage}}</span>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal"
                                        style="width: 6rem">
                                        <span>Close</span>
                                    </button>
                                    <button type="submit" class="btn btn-primary rounded-pill"
                                        [disabled]="newUserForm.invalid" style="width: 6rem">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body" style="padding: 10px">
                <ng-container *ngIf="!loading">
                    <ng-container *ngIf="usersList">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of usersList;let i = index">
                                    <td scope="row">{{user.name}}</td>
                                    <td>{{user.department}}</td>
                                    <td>{{user.designation}}</td>
                                    <td class="edit-del-button">
                                        <div>
                                            <i class="ri-edit-2-fill icon-size" data-bs-toggle="modal"
                                                data-bs-target="#verticalycentered1"
                                                (click)="updateUser(user.email)"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </section>
</main>

<!-- Model Popupbutton for Edit  -->
<div class="modal fade" id="verticalycentered1" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="newUserForm">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" *ngIf="updateUserData">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div>
                                    <label for="inputName5" class="form-label">Employee ID <span
                                            class="mandatory-fields">*</span>
                                        <span *ngIf="f.emp_id.errors?.['required'] && f.emp_id.touched"
                                            class="form-error-msg">&nbsp;&nbsp;Required</span>
                                    </label>
                                    <input type="text" class="form-control" id="inputName5" name="emp_id"
                                        formControlName="emp_id" [ngModel]="updateUserData.emp_id">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="inputName5" class="form-label">Name <span
                                            class="mandatory-fields">*</span>
                                        <span *ngIf="f.name.errors?.['required'] && f.name.touched"
                                            class="form-error-msg">&nbsp;&nbsp;Required</span>
                                    </label>
                                    <input type="text" class="form-control" id="inputName5" name="name"
                                        formControlName="name" [ngModel]="updateUserData.name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="inputName5" class="form-label">Email <span
                                            class="mandatory-fields">*</span>
                                        <span *ngIf="f.email.errors?.['required'] && f.email.touched"
                                            class="form-error-msg">&nbsp;&nbsp;Required</span>
                                    </label>
                                    <input type="text" class="form-control" id="inputName5" name="email"
                                        formControlName="email" [ngModel]="updateUserData.email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="inputName5" class="form-label">Phone Number <span
                                            class="mandatory-fields">*</span>
                                        <span *ngIf="f.phone.errors?.['required'] && f.phone.touched"
                                            class="form-error-msg">&nbsp;&nbsp;Required</span>
                                    </label>
                                    <input type="text" class="form-control" id="inputName5" name="phone"
                                        formControlName="phone" [ngModel]="updateUserData.phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputName5" class="form-label">Department <span
                                        class="mandatory-fields">*</span>
                                    <span *ngIf="f.department.errors?.['required'] && f.department.touched"
                                        class="form-error-msg">&nbsp;&nbsp;Required</span>
                                </label>
                                <input type="text" class="form-control" id="inputName5" name="department"
                                    formControlName="department" [ngModel]="updateUserData.department">
                            </div>
                            <div class="col-md-6">
                                <label for="inputName5" class="form-label">Designation <span
                                        class="mandatory-fields">*</span>
                                    <span *ngIf="f.designation.errors?.['required'] && f.designation.touched"
                                        class="form-error-msg">&nbsp;&nbsp;Required</span>
                                </label>
                                <input type="text" class="form-control" id="inputName5" name="designation"
                                    formControlName="designation" [ngModel]="updateUserData.designation">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal"
                        style="width: 6rem;">Close</button>
                    <button type="submit" class="btn btn-primary rounded-pill" [disabled]="newUserForm.invalid"
                        style="width: 6rem;">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>