.newjobalertError{
    position: relative;
    padding: 1rem 1rem;
    /* margin-bottom: 1rem; */
    /* border: 1px solid transparent; */
    border-radius: 0.25rem;
}
.form-error-msg {
    font-size: .850rem;
    color: #dc3545;
}
.mandatory-fields{
    color: red;
}

.icons-css{
    background-color: #fff;
    border-radius: 0.25rem;
    text-align: center;
    color: #012970;
    padding: 15px 0;
}

.edit-del-button{
    display: flex;
}

.icon-size{
    color: #012970;
    font-size: 20px;
}