<main id="main" class="main">
    <div class="pagetitle">
       <h1>Create New Job</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Create Job</li>
          </ol>
       </nav>
    </div>
    <section class="section">

        <div class="card">
            <div class="card-body">

        <form [formGroup]="jobForm" (ngSubmit)="submit()" class="row g-3" style="margin:10px;">
            <!-- <div class="col-md-4"> 
                <label for="inputName5" class="form-label">Requisition_ID</label> 
                <input type="text" class="form-control" id="inputName5" name="requisition_id" formControlName="requisition_id">
                <div *ngIf="f['requisition_id'].touched && f['requisition_id'].invalid" class="alert alert-danger" class="col-md-4 alert alert-danger form-control">
                    <div *ngIf="f['requisition_id'].errors && f['requisition_id'].errors['required']">ID is required.</div>
                    <div *ngIf="f['requisition_id'].errors && f['requisition_id'].errors['minlength']">ID should be 6 character.</div>
                    <div *ngIf="f['requisition_id'].errors && f['requisition_id'].errors['maxlength']">ID should be 6 character.</div>
                </div>
            </div> -->
            
            <div class="col-md-4">
                <label for="inputEmail5" class="form-label">Client
                    <span class="mandatory-fields">*</span>
                    <span *ngIf="f.client.errors?.['required'] && f.client.touched" class="form-error-msg">&nbsp;&nbsp;Required</span>
                </label> 
                <input type="text" class="form-control" id="inputEmail5" name="client" formControlName="client" [ngClass]="{ 'is-invalid':  f.client.errors && f.client.touched}">
                <!-- <div *ngIf="f.client.errors?.['required'] && f.client.touched" class="alert alert-danger">
                    Please enter  client.
                </div> -->
            </div>
            <div class="col-md-4"> 
                <label for="inputPassword5" class="form-label">Role
                    <span class="mandatory-fields">*</span>
                    <span *ngIf="f.role.errors?.['required'] && f.role.touched" class="form-error-msg">&nbsp;&nbsp;Required</span>
                </label> 
                <input type="text" class="form-control" id="inputPassword5" name="role" formControlName="role" [ngClass]="{ 'is-invalid':  f.role.errors && f.role.touched}">
                <!-- <div *ngIf="f.role.errors?.['required'] && f.role.touched" class="alert alert-danger">
                    Please enter role.
                </div> -->
            </div>
            <div class="col-4"> 
                <label for="inputAddress5" class="form-label">No.of.Positions</label> 
                <input type="text" class="form-control" id="inputAddres5s" placeholder="" name="no_positions" formControlName="no_positions">
                <!-- <div *ngIf="f.no_positions.errors?.['required'] && f.no_positions.touched" class="alert alert-danger">
                   Please enter a no_positions.
                </div>  -->
            </div>
            <div class="col-4">
                <label for="inputAddress2" class="form-label">Position Type</label>
                <select id="inputState" class="form-select" name="positiontype" formControlName="positiontype">
                    <option value="">Choose...</option>
                    <option value="hr">HR</option>
                </select>
                <!-- <div *ngIf="f.positiontype.errors?.['required'] && f.positiontype.touched" class="alert alert-danger">
                    Please select a position.
                </div> -->
            </div>
            <div class="col-md-4"> 
                <label for="inputCity" class="form-label" >Experience</label>
                <select id="inputState" class="form-select" name="experience" formControlName="experience">
                    <option selected value="">Choose...</option>
                    <option value="0-1">0-1</option>
                    <option value="2+">2+</option>
                 </select>
                 <!-- <div *ngIf="f.experience.errors?.['required'] && f.experience.touched" class="alert alert-danger">
                    Please select a experience.
                </div> -->
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">Primary Skills</label>
                <select id="inputState" class="form-select" name="primaryskills" formControlName="primaryskills">
                    <option selected value="">Choose...</option>
                    <option value="python">Python</option>
                    <option value="java">Java</option>
                </select>
                <!-- <div *ngIf="f.primaryskills.errors?.['required'] && f.primaryskills.touched" class="alert alert-danger">
                    Please select a primaryskills.
                </div> -->
            </div>
            <div class="col-md-4"> 
                <label for="inputZip" class="form-label">Secondary Skills</label> 
                <select id="inputState" class="form-select" name="secondaryskills" formControlName="secondaryskills">
                    <option selected value="">Choose...</option>
                    <option value="angular">Angular</option>
                    <option value="python">Python</option>
                 </select>
                 <!-- <div *ngIf="f.secondaryskills.errors?.['required'] && f.secondaryskills.touched" class="alert alert-danger">
                    Please select a secondaryskills.
                </div> -->
            </div>

            <div class="col-4"> 
                <label for="inputAddress5" class="form-label">Salary Range</label> 
                <input type="text" class="form-control" id="inputAddres5s" placeholder="" name="salaryrange" formControlName="salaryrange">
                <!-- <div *ngIf="f.salaryrange.errors?.['required'] && f.salaryrange.touched" class="alert alert-danger">
                    Please enter salaryrange.
                </div> -->
            </div>

            <div class="col-4"> 
                <label for="inputAddress5" class="form-label">Location</label> 
                <input type="text" class="form-control" id="inputAddres5s" placeholder="" name="location" formControlName="location">
                <!-- <div *ngIf="f.location.errors?.['required'] && f.location.touched" class="alert alert-danger">
                    Please enter location.
                </div> -->
            </div>

            <div class="col-md-4"> 
                <label for="inputZip" class="form-label">Currency</label> 
                <select id="inputState" class="form-select" name="currency" formControlName="currency">
                    <option selected value="">Choose...</option>
                    <option value="rupee">Rupee</option>
                    <option value="dollar">Dollar</option>
                 </select>
                 <!-- <div *ngIf="f.currency.errors?.['required'] && f.currency.touched" class="alert alert-danger">
                    Please select a currency.
                </div> -->
            </div>
            
            <div class="col-md-4"> 
                <label for="inputZip" class="form-label">Work Type</label> 
                <select id="inputState" class="form-select" name="worktype" formControlName="worktype">
                    <option selected value="">Choose...</option>
                    <option value="wfo">WFO</option>
                    <option value="wfh">WFH</option>
                 </select>
                 <!-- <div *ngIf="f.worktype.errors?.['required'] && f.worktype.touched" class="alert alert-danger">
                    Please select a worktype.
                </div> -->
            </div>

            <div class="col-md-4"> 
                <label for="inputZip" class="form-label">Status</label> 
                <select id="inputState" class="form-select" name="status" formControlName="status">
                    <option selected value="">Choose...</option>
                    <option value="inprogress">Inprogress</option>
                    <option value="completed">Completed</option>
                 </select>
                 <!-- <div *ngIf="f.status.errors?.['required'] && f.status.touched" class="alert alert-danger">
                    Please select status.
                </div> -->
            </div>

            <div class="col-md-4">
                <label for="inputDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" name="startdate" formControlName="startdate">
                <!-- <div *ngIf="f.startdate.errors?.['required'] && f.startdate.touched" class="alert alert-danger">
                    Please select startdate.
                </div> -->
            </div>

            <div class="col-md-4">
                <label for="inputDate" class="form-label">End Date</label>
                <input type="date" class="form-control" name="enddate" formControlName="enddate">
                <!-- <div *ngIf="f.enddate.errors?.['required'] && f.enddate.touched" class="alert alert-danger">
                    Please select enddate.
                </div> -->
            </div>

            <div class="col-md-12">
                <label for="inputeDate" class="form-label">Job Description</label>
                <textarea name="jobdescription" id="jobdescription" class="form-control"  name="jobdescription" formControlName="jobdescription"></textarea>
                <!-- <div *ngIf="f.jobdescription.errors?.['required'] && f.jobdescription.touched" class="alert alert-danger">
                    Please select a jobdescription.
                </div> -->
            </div>
        
            <div class="text-center" style="display: flex;justify-content: center;"> 
                <div style="padding: 10px;">
                <button type="submit" class="btn btn-primary" [disabled]="jobForm.invalid" >Submit</button>
               </div>
               <div style="padding: 10px;">
                 <button type="reset" class="btn btn-secondary " (click)="resetJobForm()" >Reset</button>
                </div>
            </div>
         </form>
   </div>   
</div>
    </section>
 </main>