<main id="main" class="main">
  <div
    class="pagetitle"
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <div>
      <h1>Control panel</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item">control panel</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div
            style="
              display: flex;
              justify-content: space-around;
              margin-top: 30px;
            "
          >
            <h3>Clients</h3>
          </div>
          <div
            class="card-text"
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-around;
            "
          >
            <div>
              <a
                href="#"
                class="card-link"
                data-bs-toggle="modal"
                data-bs-target="#verticalycentered"
                >View
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div
            style="
              display: flex;
              justify-content: space-around;
              margin-top: 30px;
            "
          >
            <h3>Skills</h3>
          </div>
          <div
            class="card-text"
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-around;
            "
          >
            <div>
              <a
                href="#"
                class="card-link"
                data-bs-toggle="modal"
                data-bs-target="#verticalycenteredskills"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div
            style="
              display: flex;
              justify-content: space-around;
              margin-top: 30px;
            "
          >
            <h3>Roles</h3>
          </div>
          <div
            class="card-text"
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-around;
            "
          >
            <div>
              <a
                href="#"
                class="card-link"
                data-bs-toggle="modal"
                data-bs-target="#verticalycenteredroles"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Model for Client -->
<div class="modal fade" id="verticalycentered" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="clientForm" (ngSubmit)="submitClientForm()">
        <div class="modal-header">
          <h5 class="modal-title">Clients</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row g-3">
              <!-- <div class="col-md-12">
                                <div
                                    style="display: flex;flex-direction: row;align-items: flex-end;justify-content: space-evenly;flex-wrap: wrap;"> -->
              <div class="col-sm-6" style="padding-right: 15px">
                <label for="inputName5" class="form-label"
                  >Client Name <span class="mandatory-fields">*</span>
                  <span
                    *ngIf="f.clientName.errors?.['required'] && f.clientName.touched"
                    class="form-error-msg"
                  ></span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="inputName5"
                  name="clientName"
                  formControlName="clientName"
                  [ngClass]="{
                    'is-invalid': f.clientName.errors && f.clientName.touched
                  }"
                />
              </div>
              <div class="col-sm-4" style="padding-right: 15px">
                <label for="inputName5" class="form-label"
                  >Client ID <span class="mandatory-fields">*</span>
                  <span
                    *ngIf="f.clientID.errors?.['required'] && f.clientID.touched"
                    class="form-error-msg"
                  ></span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="inputName5"
                  name="clientID"
                  formControlName="clientID"
                  [ngClass]="{
                    'is-invalid': f.clientID.errors && f.clientID.touched
                  }"
                />
              </div>
              <div
                class="col-sm-2"
                style="
                  display: flex;
                  align-items: flex-end;
                  justify-content: flex-end;
                "
              >
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="clientForm.invalid"
                >
                  Add
                </button>
              </div>
              <!-- </div>
                            </div> -->

              <!-- Tabel -->
              <!-- <div style="height: 300px;
                            overflow: auto;"> -->
              <div
                class="row table__headers mt-4"
                style="border-bottom: 1px solid black"
              >
                <h5 class="col-sm-6">Client Names</h5>
                <h5 class="col-sm-4">Client ID</h5>
              </div>
              <div style="display: block; height: 40vh; overflow-x: hidden">
                <div class="row table__data" *ngFor="let client of client_Name">
                  <span class="col-sm-6">{{ client.client }}</span>
                  <span class="col-sm-4">{{ client.id }}</span>
                  <i class="ri-delete-bin-5-fill icon-size col-sm-2"></i>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary rounded-pill"
            data-bs-dismiss="modal"
            style="width: 6rem"
          >
            Close
          </button>
          <!-- <button type="submit" class="btn btn-primary rounded-pill" style="width: 6rem;">Save</button> -->
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Model for Skills -->
<div class="modal fade" id="verticalycenteredskills" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title">Skills</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-12 row" style="margin-top: 1rem;">
                <div class="col-md-6" style="margin-top: 1rem;border-right: 1px solid black;"
                >
                  <div class="col" style="padding-right: 15px">
                    <label for="inputName5" class="form-label"
                      >Skills <span class="mandatory-fields">*</span>
                    </label>
                    <form>
                      <mat-form-field
                        class="example-chip-list"
                        appearance="fill"
                        style="width: 100%"
                      >
                        <mat-chip-grid #chipGrid aria-label="Fruit selection">
                          <mat-chip-row
                            *ngFor="let fruit of chipsArray"
                            (removed)="remove(fruit)"
                          >
                            {{ fruit }}
                            <button
                              matChipRemove
                              [attr.aria-label]="'remove ' + fruit"
                            >
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                        </mat-chip-grid>
                        <input
                          placeholder="Enter Skills.."
                          [formControl]="chipsCtrl"
                          [matChipInputFor]="chipGrid"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          (matChipInputTokenEnd)="add($event)"
                        />
                      </mat-form-field>
                      <button
                        type="button"
                        (click)="submitChips()"
                        class="btn btn-primary"
                      >
                        Add
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
              <table class="table table-fixed">
                <thead>
                  <tr>
                    <th class="col-xs-3">Skills</th>
                  </tr>
                </thead>
                <div style="height: 300px; overflow: auto">
                  <tbody style="display: block">
                    <tr
                      style="
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                      "
                      *ngFor="let item of skills"
                    >
                      <td class="col-xs-6">{{ item }}</td>
                      <i class="ri-delete-bin-5-fill icon-size"></i>
                    </tr>
                  </tbody>
                </div>
              </table>
            </div>
            </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary rounded-pill"
            data-bs-dismiss="modal"
            style="width: 6rem"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Model Pop Up for Roles -->

<div class="modal fade" id="verticalycenteredroles" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title">Roles</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-12 row" style="margin-top: 1rem;">
                <div class="col-md-6" style="margin-top: 1rem;border-right: 1px solid black;"
                >
                  <div class="col" style="padding-right: 15px">
                    <label for="inputName5" class="form-label"
                      >Roles <span class="mandatory-fields">*</span>
                    </label>
                    <form>
                      <mat-form-field
                        class="example-chip-list"
                        appearance="fill"
                        style="width: 100%"
                      >
                        <mat-chip-grid #chipGrid aria-label="Fruit selection">
                          <mat-chip-row
                            *ngFor="let fruit of chipsArray"
                            (removed)="remove(fruit)"
                          >
                            {{ fruit }}
                            <button
                              matChipRemove
                              [attr.aria-label]="'remove ' + fruit"
                            >
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                        </mat-chip-grid>
                        <input
                          placeholder="Enter Skills.."
                          [formControl]="chipsCtrl"
                          [matChipInputFor]="chipGrid"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          (matChipInputTokenEnd)="add($event)"
                        />
                      </mat-form-field>
                      <button
                        type="button"
                        (click)="submitChips()"
                        class="btn btn-primary"
                      >
                        Add
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
              <table class="table table-fixed">
                <thead>
                  <tr>
                    <th class="col-xs-3">Skills</th>
                  </tr>
                </thead>
                <div style="height: 300px; overflow: auto">
                  <tbody style="display: block">
                    <tr
                      style="
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                      "
                      *ngFor="let item of skills"
                    >
                      <td class="col-xs-6">{{ item }}</td>
                      <i class="ri-delete-bin-5-fill icon-size"></i>
                    </tr>
                  </tbody>
                </div>
              </table>
            </div>
            </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary rounded-pill"
            data-bs-dismiss="modal"
            style="width: 6rem"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>