
  .tbody{
      height:200px;
      overflow-y:auto;
      width: 100%;
    }
    /* thead,tbody,tr,td,th{
      display:block;
    } */
    /* tbody{
      td{
        float:left;
      }
    }
    thead {
      tr{
        th{
          float:left;;
        }
      }
    } */
    .icon-size{
        color: #012970;
        font-size: 20px;
    }
    .mandatory-fields{
      color: red;
  }